@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
}

p {
  font-weight: 300;
  color: #111;
}
/*=============== Banner Start ==========*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/輪播圖_3.jpg');
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 3.5em;
  color:#fff
}

.banner .content p {
  font-size: 1em;
  color: #196901;
  ;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: #28a303;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
/*=============== Banner End ==========*/

/*=============== Header Start ==========*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 40px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo {
  color: #111;
}

header .logo span {
  color: #196901;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header.sticky .navigation li a {
  color: #111;
}

header.sticky .navigation li a:hover {
  color: #196901;
}
/*=============== Header End ==========*/

/*=============== About Start ==========*/
section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  /*min-height: 300px;*/
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*----- Title Text -----*/
.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #196901;
  font-weight: 700;
  font-size: 1.5em;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*=============== About End ==========*/

/*=============== Menu Start ==========*/
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 390px;
}

.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
  display: flex;
  justify-content: center;
}
/*=============== Menu End ==========*/

/*=============== Contact Start ==========*/
.contact {
  background: #124d00;
}

.contactForm {
  padding: 75px 50px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

/*---Input Style---*/
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

.contactForm .inputBox input[type="submit"] {
  padding: 5px;
  font-size: 1em;
  color: #fff;
  background: #4e4e4e;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/*=============== Footer Start ==========*/
.copyrightText {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
